* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Black.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Gilroy', sans-serif;
}

/* Header -----*/
#nav {
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0 30px;
}

#nav__part1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav h3 {
  font-size: 1.0625rem;
  font-weight: 500;
  border: 1.5px solid #000;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}
#nav i {
  font-size: 1.0625rem;
  font-weight: 500;
  border: 1.5px solid #000;
  border-radius: 50px;
  padding: 5px 8px;
  cursor: pointer;
}

#nav__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe4e26;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
}

#nav__part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#nav h1 {
  font-weight: 500;
  font-size: 1.375rem;
  text-transform: uppercase;
  cursor: pointer;
}

#nav button {
  font-weight: 500;
  padding: 7px 12px;
  border-radius: 50px;
  border: 1.5px solid #000;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
}

#nav button:nth-child(2) {
  margin-left: -3.5px;
  background-color: #fe4e26;
  color: white;
  border: 1.5px solid orangered;
}

/* Hero Section */
#hero {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#hero h1 {
  font-size: 150px;
  font-weight: 500;
}

#hero img {
  width: 370px;
  height: 430px;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
  position: absolute;
}

#hero img:nth-child(2) {
  transform: rotate(-30deg);
}
#hero img:nth-child(3) {
  transform: rotate(-20deg);
}
#hero img:nth-child(4) {
  transform: rotate(-10deg);
}

#hero__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

#hero__footer-btmleft {
  font-weight: 500;
  font-size: 16px;
  padding-top: 35px;
}

#hero__footer-middle {
  padding: 5px 30px 42px;
  border-radius: 500px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  position: relative;
  bottom: -40px;
}

#hero__footer-middle i {
  font-size: 30px;
  font-weight: 400;
  color: rgb(73, 71, 71);
}

.hero__footer-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero__footer-socials i {
  font-size: 2rem;
  color: white;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
}

#hero__footer-btmright > p {
  margin-top: 3px;
}
